.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две карточки в ряд */
  width: 100%;
  max-width: 500px; /* Ограничили ширину контейнера */
  justify-content: center;
  justify-items: center;
  column-gap: 20px; /* Отступ между колонками */
  row-gap: 30px; /* Отступ между рядами */
  margin: 0 auto;
}

.card {
  width: 200px; /* Немного уменьшили ширину карточки */
  min-height: 320px; /* Слегка уменьшили высоту */
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

.card__top {
  flex: 0 0 200px; /* Уменьшили высоту верхней части карточки */
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}

/* Размещаем скидку на товар относительно изображения */
.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%;
}

.card__price--discount {
  font-weight: 700;
  font-size: 17px; /* Немного уменьшили размер шрифта */
  color: #414141;
}

.card__price--common {
  font-weight: 400;
  font-size: 15px; /* Уменьшили размер шрифта */
  color: #606060;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px; /* Немного уменьшили шрифт */
  line-height: 150%;
  color: #414141;
}

.card__add {
  display: block;
  font-size: 16px; /* Уменьшили шрифт */
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: auto;
}
